body {
  background-color: #141414;
  color: white;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  max-height: 40vh;
}

.image-container {
  position: relative;
  transition: tranform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale((1.1));
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s;
  opacity: 0;
  bottom: 0;
  font-size: 100px;
  padding: 100px;
  text-align: center;
}
